
:root {

  /* https://github.com/jdan/98.css/blob/main/style.css */

  --text-color:        #222222;
  --surface:           #c0c0c0;
  --button-highlight:  #ffffff;
  --button-face:       #dfdfdf;
  --button-shadow:     #808080;
  --window-frame:      #0a0a0a;
  --dialog-blue:       #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray:       #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue:         #0000ff;
  --list-active:       #08236b;

  --boxshadow-inset: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;

  /* Spacing */
  --element-spacing: 8px;
  --grouped-button-spacing: 4px;
  --grouped-element-spacing: 6px;
  --radio-width: 12px;
  --checkbox-width: 13px;
  --radio-label-spacing: 6px;
  --range-track-height: 4px;
  --range-spacing: 10px;

  /* Some detailed computations for radio buttons and checkboxes */
  --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
  --radio-total-width: calc(var(--radio-total-width-precalc));
  --radio-left: calc(-1 * var(--radio-total-width-precalc));
  --radio-dot-width: 4px;
  --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
  --radio-dot-left: calc(
      -1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var(
          --radio-dot-width
      ) / 2
  );

  --checkbox-total-width-precalc: var(--checkbox-width) +
      var(--radio-label-spacing);
  --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
  --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
  --checkmark-width: 7px;
  --checkmark-top: 3px;
  --checkmark-left: 3px;

  /* Borders */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);

  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-highlight);

  /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
  --border-field: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);

  /* Tabs */
  --border-tab: inset -1px 0 var(--window-frame), inset 1px 1px var(--button-face), inset -2px 0 var(--button-shadow), inset 2px 2px var(--button-highlight)
}


@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("ms_sans_serif.woff") format("woff");
  src: url("ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("ms_sans_serif_bold.woff") format("woff");
  src: url("ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}


/* ================================================================ MAIN ================================================================ */

html, body { height: 100%; }

body {
  display: grid;
  grid-template-rows: 1fr auto;
  
  grid-row-gap: 0.5rem;

  background-color: var(--surface);
}

main {
  display: grid;
  grid-template-columns: 320px 1fr 100px;

  margin: 6px;
  grid-column-gap: 6px;
    
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 11px;
    
  color: var(--text-color);
}

/* ================================================================ BUTTON ================================================================ */

button, input[type="submit"], input[type="reset"], .button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;

  /* min-width: 75px;  */
  /* min-height: 23px; */
  
  padding: 0 12px;
}

button:not(:disabled):active, input[type="submit"]:not(:disabled):active, input[type="reset"]:not(:disabled):active, .button:not(:disabled):active {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}

button:not(:disabled):hover, input[type="submit"]:not(:disabled):hover, input[type="reset"]:not(:disabled):hover, .button:not(:disabled):hover {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}

button:focus, input[type="submit"]:focus, input[type="reset"]:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, .button::-moz-focus-inner {
  border: 0;
}

button:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, .button:disabled {
  text-shadow: 1px 1px 0 var(--button-highlight);
}

/* ================================================================ CONTAINER_LEFT ================================================================ */

.container_left {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 0.5rem;
}

/* ================================================================ CONTAINER_LEFT > LEFT_HEADER ================================================================ */

.container_left > .left_header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.container_left > .left_header > img {
  width:  64px;
  height: 64px;
}

.container_left > .left_header > .title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

/* ================================================================ CONTAINER_LEFT > CONTAINER_PLAYLISTS ================================================================ */

.container_left > .container_playlists {
  background: #fff;
  box-shadow: var(--boxshadow-inset);
  margin: 0;
  padding: 6px;
  overflow-y: scroll;
    
  display: flex;
  flex-direction: column;
}

.container_playlists .item {
  position:relative;
  display: grid;
  grid-template-columns: 1fr;
}

.container_playlists .item > .title {
  padding-left: 2px;
}

.container_playlists .item.active > .title {
  background-color: var(--list-active);
  color: #FFFFFF;
}

.container_playlists .item.children .item {
  margin-left:16px;
  padding-left:16px
}

.container_playlists .item.children .item.entry:before {
  content:"";
  display:block;
  
  left:0px;
  position:absolute;
  top:6px;
  width:12px;
  
  border-bottom:1px dotted grey;
}

.container_playlists .item.children .item.entry:after {
  content:"";
  display:block;
  
  left:0px;
  position:absolute;
  top:0px;
  bottom: 0px;
  
  border-left:1px dotted grey;
}

.container_playlists .item.children .item.entry:last-of-type:after {
  bottom: 50%;
}

/* ================================================================ CONTAINER_LEFT > LEFT_FOOTER ================================================================ */

.container_left > .left_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.container_left > .left_footer a {}

.container_left > .left_footer span { display: none; }

.container_left > .left_footer .button {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_left > .left_footer img {
  height: 32px;
  width:  32px;
}

/* ================================================================ CONTAINER_TRACKS ================================================================ */



/* ================================================================ CONTAINER_QUEUE ================================================================ */



/* ================================================================ FOOTER ================================================================ */

footer {
  margin: 0px 2px 2px 2px;
  
  gap: 1px;
  display: flex;
}

footer > .footer-cell {
  box-shadow: inset -1px -1px #dfdfdf,inset 1px 1px grey;

  margin: 0;
  padding: 2px 1rem;
  
  font-size: 12px;
}

footer > .footer-cell.grow {
  flex-grow: 1;
}










