
:root {

  /* https://github.com/jdan/98.css/blob/main/style.css */

  --text-color:        #222222;
  --surface:           #c0c0c0;
  --button-highlight:  #ffffff;
  --button-face:       #dfdfdf;
  --button-shadow:     #808080;
  --window-frame:      #0a0a0a;
  --dialog-blue:       #000080;
  --dialog-blue-light: #1084d0;
  --dialog-gray:       #808080;
  --dialog-gray-light: #b5b5b5;
  --link-blue:         #0000ff;
  --list-active:       #08236b;
  
  --filter-col-222222: invert(8%) sepia(9%) saturate(21%) hue-rotate(30deg) brightness(100%) contrast(88%); /* filter to #222222  ( https://stackoverflow.com/a/43960991 ) */

  --boxshadow-inset: inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;

  /* Spacing */
  --element-spacing: 8px;
  --grouped-button-spacing: 4px;
  --grouped-element-spacing: 6px;
  --radio-width: 12px;
  --checkbox-width: 13px;
  --radio-label-spacing: 6px;
  --range-track-height: 4px;
  --range-spacing: 10px;

  /* Some detailed computations for radio buttons and checkboxes */
  --radio-total-width-precalc: var(--radio-width) + var(--radio-label-spacing);
  --radio-total-width: calc(var(--radio-total-width-precalc));
  --radio-left: calc(-1 * var(--radio-total-width-precalc));
  --radio-dot-width: 4px;
  --radio-dot-top: calc(var(--radio-width) / 2 - var(--radio-dot-width) / 2);
  --radio-dot-left: calc(
      -1 * (var(--radio-total-width-precalc)) + var(--radio-width) / 2 - var(
          --radio-dot-width
      ) / 2
  );

  --checkbox-total-width-precalc: var(--checkbox-width) +
      var(--radio-label-spacing);
  --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
  --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
  --checkmark-width: 7px;
  --checkmark-top: 3px;
  --checkmark-left: 3px;

  /* Borders */
  --border-width: 1px;
  --border-raised-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-highlight);
  --border-raised-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-face);
  --border-sunken-outer: inset -1px -1px var(--button-highlight), inset 1px 1px var(--window-frame);
  --border-sunken-inner: inset -2px -2px var(--button-face), inset 2px 2px var(--button-shadow);

  /* Window borders flip button-face and button-highlight */
  --border-window-outer: inset -1px -1px var(--window-frame), inset 1px 1px var(--button-face);
  --border-window-inner: inset -2px -2px var(--button-shadow), inset 2px 2px var(--button-highlight);

  /* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
  --border-field: inset -1px -1px var(--button-highlight), inset 1px 1px var(--button-shadow), inset -2px -2px var(--button-face), inset 2px 2px var(--window-frame);

  /* Tabs */
  --border-tab: inset -1px 0 var(--window-frame), inset 1px 1px var(--button-face), inset -2px 0 var(--button-shadow), inset 2px 2px var(--button-highlight)
}

/* ================================================================ ================================================================ */

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("ms_sans_serif.woff")  format("woff");
  src: url("ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("ms_sans_serif_bold.woff")  format("woff");
  src: url("ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* ================================================================ BUTTON ================================================================ */

button, input[type="submit"], input[type="reset"], .button {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;

  /* min-width: 75px;  */
  /* min-height: 23px; */
  
  padding: 0 12px;
  
  cursor: pointer;
}

button:not(:disabled):active, input[type="submit"]:not(:disabled):active, input[type="reset"]:not(:disabled):active, .button:not(:disabled):active {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
  text-shadow: 1px 1px var(--text-color);
}

/*
button:not(:disabled):hover, input[type="submit"]:not(:disabled):hover, input[type="reset"]:not(:disabled):hover, .button:not(:disabled):hover {
  box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
}
*/

button:focus, input[type="submit"]:focus, input[type="reset"]:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

button::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, .button::-moz-focus-inner {
  border: 0;
}

button:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, .button:disabled {
  text-shadow: 1px 1px 0 var(--button-highlight);
  cursor: default;
  color: grey;
}

button:disabled img, input[type="submit"]:disabled img, input[type="reset"]:disabled img, .button:disabled img {
  filter: grayscale(1) opacity(0.3) drop-shadow( 1px 1px 0 var(--button-highlight) );  
}

/* ================================================================ INPUT ================================================================ */

input[type=email],
input[type=number],
input[type=password],
input[type=text],
select {
  
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:none;
  border-radius:0;
    
  background-color:#fff;
  box-shadow:inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a;
  box-sizing:border-box;
  padding:3px 4px;
  
  height:21px;
  
  line-height:2;
}

input[type=email]:disabled,
input[type=email]:read-only,
input[type=number]:disabled,
input[type=number]:read-only,
input[type=password]:disabled,
input[type=password]:read-only,
input[type=text]:disabled,
input[type=text]:read-only,
textarea:disabled {
  background-color:silver
}

input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=text]:focus,
select:focus,
textarea:focus {
  outline:none
}

/* ================================================================ SLIDER ================================================================ */

input[type=range] {
  -webkit-appearance:none;
  background:transparent;
  width:100%
}

input[type=range]:focus {
  outline:none
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance:none;
  background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");
  border:none;
  box-shadow:none;
  height:21px;
  transform:translateY(-8px);
  width:11px
}

input[type=range].has-box-indicator::-webkit-slider-thumb {
  background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");
  transform:translateY(-10px)
}

input[type=range]::-moz-range-thumb {
  background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v16h2v2h2v2h1v-1H3v-2H1V1h9V0z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1 1v15h1v1h1v1h1v1h2v-1h1v-1h1v-1h1V1z' fill='%23C0C7C8'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v15H8v2H6v2H5v-1h2v-2h2z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v16H9v2H7v2H5v1h1v-2h2v-2h2z' fill='%23000'/%3E%3C/svg%3E");
  border:0;
  border-radius:0;
  height:21px;
  transform:translateY(2px);
  width:11px
}

input[type=range].has-box-indicator::-moz-range-thumb {
  background:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0v20h1V1h9V0z' fill='%23fff'/%3E%3Cpath fill='%23C0C7C8' d='M1 1h8v18H1z'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 1h1v19H1v-1h8z' fill='%2387888F'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 0h1v21H0v-1h10z' fill='%23000'/%3E%3C/svg%3E");
  transform:translateY(0)
}

input[type=range]::-webkit-slider-runnable-track {
  background:#000;
  border-bottom:1px solid grey;
  border-right:1px solid grey;
  box-shadow:1px 0 0 #fff,1px 1px 0 #fff,0 1px 0 #fff,-1px 0 0 #a9a9a9,-1px -1px 0 #a9a9a9,0 -1px 0 #a9a9a9,-1px 1px 0 #fff,1px -1px #a9a9a9;
  box-sizing:border-box;
  height:2px;
  width:100%
}

input[type=range]::-moz-range-track {
  background:#000;
  border-bottom:1px solid grey;
  border-right:1px solid grey;
  box-shadow:1px 0 0 #fff,1px 1px 0 #fff,0 1px 0 #fff,-1px 0 0 #a9a9a9,-1px -1px 0 #a9a9a9,0 -1px 0 #a9a9a9,-1px 1px 0 #fff,1px -1px #a9a9a9;
  box-sizing:border-box;
  height:2px;
  vertical-align: left;
  justify-self: left;
  width:calc(100% - 3px);
  padding-left: 3px;
}

/* ================================================================ DIALOG ================================================================ */

.window {
  background:silver;
  box-shadow:inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
  padding:3px
}

.title-bar {
  align-items:center;
  background:linear-gradient(90deg,navy,#1084d0);
  display:flex;
  justify-content:space-between;
  padding:3px 2px 3px 3px
}

.title-bar.inactive {
  background:linear-gradient(90deg,grey,#b5b5b5)
}

.title-bar-text {
  color:#fff;
  font-weight:700;
  letter-spacing:0;
  margin-right:24px
}

.title-bar-controls {
  display:flex
}

.title-bar-controls button {
  display:block;
  min-height:14px;
  min-width:16px;
  padding:0
}

.title-bar-controls button:active {
  padding:0
}

.title-bar-controls button:focus {
  outline:none
}

.title-bar-controls button[aria-label=Minimize] {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 0h6v2H0z'/%3E%3C/svg%3E");
  background-position:bottom 3px left 4px;
  background-repeat:no-repeat
}

.title-bar-controls button[aria-label=Maximize] {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0H0v9h9V0zM8 2H1v6h7V2z' fill='%23000'/%3E%3C/svg%3E");
  background-position:top 2px left 3px;
  background-repeat:no-repeat
}

.title-bar-controls button[aria-label=Restore] {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M2 0h6v2H2zM7 2h1v4H7zM2 2h1v1H2zM6 5h1v1H6zM0 3h6v2H0zM5 5h1v4H5zM0 5h1v4H0zM1 8h4v1H1z'/%3E%3C/svg%3E");
  background-position:top 2px left 3px;
  background-repeat:no-repeat
}

.title-bar-controls button[aria-label=Help] {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 1h2v2H0zM1 0h4v1H1zM4 1h2v2H4zM3 3h2v1H3zM2 4h2v2H2zM2 7h2v2H2z'/%3E%3C/svg%3E");
  background-position:top 2px left 5px;
  background-repeat:no-repeat
}

.title-bar-controls button[aria-label=Close] {
  background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0h2v1h1v1h2V1h1V0h2v1H7v1H6v1H5v1h1v1h1v1h1v1H6V6H5V5H3v1H2v1H0V6h1V5h1V4h1V3H2V2H1V1H0V0z' fill='%23000'/%3E%3C/svg%3E");
  background-position:top 3px left 4px;
  background-repeat:no-repeat;
  margin-left:2px
}

/* ================================================================ SPINNER ================================================================ */

.lds-spinner {
  color: var(--text-color);
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: var(--text-color);
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ================================================================ MAIN ================================================================ */

html, body { height: 100vh; width: 100vw; }

body {
  display: grid;
  grid-template-rows: 1fr auto;
  
  grid-row-gap: 1.0rem;

  height:     100%;
  max-height: 100%;
  min-height: 100%;
  
  background-color: var(--surface);
}

* { font-family: "Pixelated MS Sans Serif", Arial, serif; font-size: 11px; }

main {
  display: grid;
  grid-template-columns: 320px 1fr 320px;

  margin: 6px 6px 0 6px;
  grid-column-gap: 6px;

  color: var(--text-color);
  
  height:     100%;
  max-height: 100%;
  min-height: 100%;
}

/* ================================================================ CONTAINER_LEFT ================================================================ */

.container_left {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 0.5rem;
  
  height:     100%;
  max-height: 100%;
  min-height: 100%;
}

/* ================================================================ CONTAINER_LEFT > LEFT_HEADER ================================================================ */

.container_left > .left_header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  align-items: center;
}

.container_left > .left_header > img {
  width:  64px;
  height: 64px;
}

.container_left > .left_header > .title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  
  text-shadow: 0 0 8px #FFF;
}

/* ================================================================ CONTAINER_LEFT > CONTAINER_PLAYLISTS ================================================================ */

.container_left > .container_playlists {
  background: #fff;
  box-shadow: var(--boxshadow-inset);
  margin: 0;
  padding: 6px;
  overflow-y: scroll;
    
  display: flex;
  flex-direction: column;
}

.container_playlists .item {
  position:relative;
  display: grid;
  grid-template-columns: 1fr;
}

.container_playlists .item > .title {
  padding-left: 2px;
}

.container_playlists .item.active > .title {
  background-color: var(--list-active);
  color: #FFFFFF;
}

.container_playlists .item.children .item {
  margin-left:16px;
  padding-left:16px; 
}

.container_playlists .item.entry {
  user-select: none;
  cursor: pointer;
}

.container_playlists .item.children .item.entry:before {
  content:"";
  display:block;
  
  left: 0;
  position:absolute;
  top: 6px;
  width: 12px;
  
  border-bottom: 1px dotted grey;
}

.container_playlists .item.children .item.entry:after {
  content:"";
  display:block;
  
  left:0;
  position:absolute;
  top:0;
  bottom: 0;
  
  border-left:1px dotted grey;
}

.container_playlists .item.children .item.entry:last-of-type:after {
  bottom: 50%;
}

/* ================================================================ CONTAINER_LEFT > LEFT_FOOTER ================================================================ */

.container_left > .left_footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.container_left > .left_footer a {}

.container_left > .left_footer span { display: none; }

.container_left > .left_footer .button {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_left > .left_footer img {
  height: 32px;
  width:  32px;
}

/* ================================================================ CONTAINER_CENTER > CONTAINER_TRACKS ================================================================ */

.searchcontainer {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  grid-column-gap: 4px;
  
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
  
  margin: 0rem 1rem;
  padding: 8px;
}

.searchcontainer button {
  width: 21px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 4px;
}

.searchcontainer button img {
  height:12px;
}

.searchcontainer .btn_search {
  margin-right: 2rem;
}

/* ================================================================ CONTAINER_CENTER > CONTAINER_TRACKS ================================================================ */

.container_center {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-row-gap: 0.5rem;

  height:     100%;
  max-height: 100%;
  min-height: 100%;
}

.container_tracks {
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
  
  padding-right: 12px;
  padding-left:  12px;
  
  gap: 0.5rem;
}

.container_tracks > .track {
  border: 2px groove rgb(240, 240, 240);
  
  margin: 0;
  padding: 10px;
  padding-block-start: 8px;
  
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: 1fr;
  
  grid-column-gap: 1rem;
}

.container_tracks > .track > .track_id    { display: none; }
.container_tracks > .track > .source_id   { display: none; }
.container_tracks > .track > .playlist_id { display: none; }

.container_tracks > .track > .cover       { grid-column: 1; grid-row: 1/-1; }

.container_tracks > .track > .col-2       { grid-column: 2; grid-row: 1/-1; }
.container_tracks > .track > .col-3       { grid-column: 3; grid-row: 1/-1; }

.container_tracks > .track  .genre       { display: none; }
.container_tracks > .track  .samplerate  { display: none; }
.container_tracks > .track  .channels    { display: none; }
.container_tracks > .track  .ctime       { display: none; }
.container_tracks > .track  .size        { display: none; }

.container_tracks > .track > .col-2,
.container_tracks > .track > .col-3 {
  display: flex;
  flex-direction: column;
}

.container_tracks > .track .col-2 {
  font-size: 14px;
  
  margin-top:    4px;
  margin-bottom: 0;
}

.container_tracks > .track .col-3 {
  font-size: 14px;
  
  margin-top: 4px;
  margin-bottom: 4px;
  
  text-align: right;
}

.container_tracks > .track .col-4 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 4px;
  
  width: 100px;
  
  height: 85px;
}

.container_tracks > .track .col-4 .btn {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 0 0 6px;;
  align-items: center;
}

.container_tracks > .track .col-4 .btn.btn_play { font-weight: bold; }

.container_tracks > .track .col-4 .btn > img {
  filter:  var(--filter-col-222222);
  height: 16px;
  width:  16px;
}

.container_tracks > .track .col-4 .btn > span {
  
}

.container_tracks > .track .title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 16px;
}

.container_tracks > .track .trackindex {
  opacity: 0.5;
}

.container_tracks > .track .bitrate {
  opacity: 0.5;
}

.container_tracks > .track .grow { flex-grow: 1; }

.container_tracks > .track > .cover {
  height: 85px;
  width:  85px;
}

.container_tracks > .track > .cover {
  background: #fff;
  padding: 2px;
  box-shadow: var(--boxshadow-inset);
}

.container_tracks > .track > .cover > img { height: 100%; width: 100%; }

.container_tracks.loading,
.container_tracks.initial,
.container_tracks.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-dlg .window-body {
  min-height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_tracks.initial .logoInitial {
  width:  196px;
  height: 196px;
  filter: grayscale(1) brightness(1.5) opacity(0.3);
}

.container_tracks .logoEmpty {
  width:  128px;
  height: 128px;
  filter: opacity(0.15);
}

/* ================================================================ CONTAINER_QUEUE ================================================================ */

.container_queue {
  display: grid;
  grid-template-rows: 1fr auto;
  
  background: silver;
  box-shadow: inset -1px -1px #0a0a0a,inset 1px 1px #dfdfdf,inset -2px -2px grey,inset 2px 2px #fff;
  padding: 8px;
  
  grid-row-gap: 6px;
  
  height:     100%;
  max-height: 100%;
  min-height: 100%;
}

.container_queue > .queue {
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.queue.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue .logoEmpty {
  margin-top: 76px;
  
  width:  128px;
  height: 128px;
  filter: opacity(0.15);
}

.container_queue > .queue > .queue_item {
  border: 2px groove rgb(240, 240, 240);
}

.queue_item {
  padding: 4px;
}

.queue_item .length {
  user-select: none;
}

.queue_item.past {
  display: grid;
  grid-template-columns: 1fr auto;
  
  opacity: 0.5;
  transition: opacity 0.1s;
}

.queue_item.past:hover { opacity: 1.0; }

.queue_item.past .title { font-weight: bold; cursor: pointer; }

.queue_item.past:hover .title { color: var(--link-blue); text-decoration: underline; }

.queue_item.future {
  display: grid;
  grid-template-columns: 1fr auto;
}

.queue_item.future .title { font-weight: bold; cursor: pointer; }

.queue_item.future:hover .title { color: var(--link-blue); text-decoration: underline; }

.queue_item.active {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  
  grid-column-gap: 8px;
}

.queue_item.active .cover {
  height: 60px;
  width:  60px;
  
  background: #fff;
  padding: 2px;
  box-shadow: var(--boxshadow-inset);
}

.queue_item.active .cover > img { height: 100%; width: 100%; }

.queue_item.active .cover  { grid-column: 1; grid-row: 1/-1; }
.queue_item.active .title  { grid-column: 2; grid-row: 1; }
.queue_item.active .album  { display: none; }
.queue_item.active .artist { grid-column: 2; grid-row: 2; }
.queue_item.active .range  { grid-column: 2; grid-row: 4; }
.queue_item.active .length { grid-column: 3; grid-row: 4; }

.queue_item.active .title {
  font-weight: bold;
  margin-top: 4px;
}

.queue_item.active .range {
  font-weight: bold;
  margin-bottom: 4px;
}

.queue_footer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.queue_footer > .btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  
  padding: 6px 8px;
}

.queue_footer > .btn img { width: 16px; height: 16px; }

.queue_footer > .grow { flex: 1; }

/* ================================================================ FOOTER ================================================================ */

footer {
  margin: 0 4px 4px 4px;
  
  gap: 1px;
  display: flex;
}

footer > .footer-cell {
  box-shadow: inset -1px -1px #dfdfdf,inset 1px 1px grey;

  margin: 0;
  padding: 2px 1rem;
  
  font-size: 12px;
  
  background: var(--surface);
}

footer > .footer-cell.grow {
  flex-grow: 1;
}


footer > .footer-cell.pos {
  min-width: 8rem;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

footer > .footer-cell.pos > * { text-align: center; }









